<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Dining Room</string>
	<key>action</key>
	<dict>
		<key>look</key>
		<string>It looks like a dining room.</string>
		<key>touch</key>
		<string>It feels like a dining room.</string>
	</dict>
	<key>portal</key>
	<array>
		<dict>
			<key>point</key>
			<string>{8,140}</string>
			<key>size</key>
			<string>{16, 32}</string>
			<key>screen</key>
			<string>1</string>
			<key>destination</key>
			<string>{700, 160}</string>
		</dict>
	</array>
</dict>
</plist>
